<section id="events" class="section at-section">
    <ul id="events-list">
        <li style="background-image: url(img/pronites/battle-of-bands.jpg);">
            <div class="inner">
                <span class="event-date">21/10</span>
                <h2><a href="javascript:void(0)" class="event-by-ajax">MTV Extreme Battle of Bands</a></h2>
            </div>
        </li>
        <li style="background-image: url(img/pronites/nescafe-labs.jpg);">
            <div class="inner">
                <span class="event-date">22/10</span>
                <h2><a href="javascript:void(0)" class="event-by-ajax">MTV Nescafe</a></h2>
            </div>
        </li>
        <li style="background-image: url(img/pronites/supersonic.jpg);">
            <div class="inner">
                <span class="event-date">23/10</span>
                <h2><a href="javascript:void(0)" class="event-by-ajax">VH1 Campus SuperSonic</a></h2>
            </div>
        </li>
    </ul>
</section>
