<!-- ############################# events ############################# -->
<section id="events" class="section">


    <!-- ############ event container loaded via ajax ############ -->
    <div id="event" class="ajax-holder"></div>
    <!-- /event container -->

    <!-- ############ events list ############ -->
    <!-- todo: add the events list in another page -->
    <ul id="events-list">
        <!-- event -->
        <li style="background-image: url(placeholders/event-01-1920x573.jpg);">
            <div class="inner">
                <span class="event-date">08/23</span>
                <h2><a href="event01.html" class="event-by-ajax" data-ajax-options='{"target" :"#event"}'>Amsterdam Dance</a></h2>
                <span class="event-location">Amsterdam, Netherlands</span>
            </div>
        </li>
        <!-- /event -->
        <!-- event -->
        <li style="background-image: url(placeholders/event-02-1920x573.jpg);">
            <div class="inner">
                <span class="event-date">09/02</span>
                <h2><a href="event02.html" class="event-by-ajax" data-ajax-options='{"target" :"#event"}'>Bacardi Original Bar</a></h2>
                <span class="event-location">Budapest (budapest), Hungary</span>
            </div>
        </li>
        <!-- /event -->
        <!-- event -->
        <li style="background-image: url(placeholders/event-03-1920x573.jpg);">
            <div class="inner">
                <span class="event-date">09/18</span>
                <h2><a href="event03.html" class="event-by-ajax" data-ajax-options='{"target" :"#event"}'>Luxorlive</a></h2>
                <span class="event-location">Arnhem, Netherlands</span>
            </div>
        </li>
        <!-- /event -->
        <!-- event -->
        <!--<li style="background-image: url(placeholders/event-04-1920x573.jpg);">-->
            <!--<div class="inner">-->
                <!--<span class="event-date">10/30</span>-->
                <!--<h2><a href="event04.html" class="event-by-ajax" data-ajax-options='{"target" :"#event"}'>Papagayo Beach Club</a></h2>-->
                <!--<span class="event-location">Santa Cruz De Tenerife, Spain</span>-->
            <!--</div>-->
        <!--</li>-->
        <!-- /event -->
    </ul>
    <!-- /events list -->

</section>
<!-- /events -->
