<section id="events" class="section">
    <ul id="events-list">
        <li style="background-image: url(img/workshops.jpg);">
        <a ui-sref="app.workshops">
            <div class="inner">
                <h2>Workshops</h2>
                <span class="event-location">Come, Learn and Ideate</span>
            </div>
            </a>
        </li>
        <li style="background-image: url(img/pro-nites.jpg);">
        <a ui-sref="app.pronites">
            <div class="inner">
                <h2>Pro Nites</h2>
                <span class="event-location">Enjoy, Relish and Relive</span>
            </div>
            </a>
        </li>
    </ul>
</section>
