
<section id="intro" class="intro-resize parallax clearfix" style="background-image: url(placeholders/intro-image-1920x1080.jpg)">
    <!-- animated bg -->
    <div class="intro-bg"></div>
    <!-- container -->
    <div class="container">
        <img id="intro-logo" src="placeholders/intro-logo.png" alt="Logo">
        <div id="ticker-wrap">
            <ul ticker id="ticker" timing="3000">
                <li style='font-size:0.5em' ng-repeat="item in vm.tickerItems" class="item-{{$index}}">
                    {{item.title}}
                </li>
            </ul>
        </div>
        <a id="intro-button" class="smooth-scroll" href="#" scroll-to="upcoming-event" ><span>ENTER</span></a>
        <a id="scroll-arrows" class="smooth-scroll" href="#" scroll-to="upcoming-event"><img src="img/scroll-arrows.png" alt="scroll down"></a>
    </div>
    <!-- /container -->
</section>
<!--/intro-->
