
<!-- ############################# intro ############################# -->
<section id="intro" class="intro-resize parallax clearfix" style="background-image: url(placeholders/intro-image-1920x1080.jpg)">
    <!-- animated bg -->
    <div class="intro-bg"></div>
    <!-- container -->
    <div class="container">
        <!-- ############ logo ############ -->
        <img id="intro-logo" src="placeholders/intro-logo.png" alt="Logo">
        <!-- ############ ticker ############ -->
        <div id="ticker-wrap">
            <ul id="ticker">
                <li style='font-size:0.5em'>
                    TECHNOSEARCH 2K16
                </li>
                <li style='font-size:0.5em'>
                    Central India's Largest TechFest
                </li>
            </ul>
        </div>
        <!-- /ticker -->
        <!-- ############ header button ############ -->
        <a href="#" scroll-to="upcoming-event"><span>ENTER</span></a>
        <!-- ############ scroll arrows ############ -->
        <a id="scroll-arrows" class="smooth-scroll" href="#upcoming-event"><img src="img/scroll-arrows.png" alt="scroll down"></a>
    </div>
    <!-- /container -->
</section>
<!--/intro-->
