
<section id="intro" class="intro-resize parallax clearfix" style="background-image: url(img/intro.jpg)">
    <!-- animated bg -->
    <div class="intro-bg"></div>
    <!-- container -->
    <div class="container" id="welcome">
        <img id="manit-logo" class="alignleft" src="img/manit.png" alt="Logo">
        <img id="intro-logo" class="alignright" src="img/logo.png" alt="Logo">

        <div class="distribute">
            <h1 class="content-title">Maulana Azad National Institute of Technology</h1>

            <div class="technostyle"><img ng-src="img/tsfont.png" alt="TechnoSearch"></div>

            <div id="ticker-wrap">
                <ul ticker id="ticker" timing="3000">
                    <li ng-repeat="item in vm.tickerItems" class="item-{{$index}}">
                        {{item.title}}
                    </li>
                </ul>
            </div>


            <a id="scroll-arrows" class="smooth-scroll" href="#" scroll-to="upcoming-event"><img src="img/scroll-arrows.png" alt="scroll down"></a>

        </div>



    </div>
    <!-- /container -->

</section>
<!--/intro-->
