#welcome {
  margin: 20px;
  height: 100%;
}

.technostyle {
  img {
    width: 70%;
  }
}

.distribute {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#manit-logo {
  height: 100px;
}
#intro-logo {
  height: 100px;
}
.content-title {
  text-transform: uppercase;
  font-size: 25px;
}
#intro.intro-resize {
  background-position: center center;
}


a#scroll-arrows {
  padding-bottom: 20px;
}
#ticker {
  height: 100px;
  overflow: hidden;
  text-align: center;
  font-size: 35px;
}

@media only screen and (max-width: 768px) {
  #manit-logo {
    display: none;
  }
  #intro-logo {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .content-title {
    font-size: 15px;
    letter-spacing: 0;
  }
  .technostyle img {
    width: 90%;
  }
  #ticker {
    height: 63px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .content-title {
    font-size: 20px;
    letter-spacing: 0;
  }
  .technostyle img {
    width: 90%;
  }
  .ticker-items {
    font-size: 18px !important;
  }

}