<section id="portfolio" class="section">
    <div id="portfolio-header" class="section-header parallax clearfix" style="background-image: url(placeholders/release-header-1920x1000.jpg)" data-interia="0.1">
        <div class="overlay"></div>
        <div class="container clearfix">
            <div class="row">
                <h2 class="section-heading">ABOUT TECHNOSEARCH</h2>
            </div>

            <div class="row">
                <div class="info-box">
                    <p class="text-center">TECHNOSEARCH'16 will be adding another milestone in the history of MANIT.
                        Our technical festival boasts the status of Largest Technical event in Central India, and this
                        year we'll be showcasing ourselves beyond the expectations of attendees. From extravagant events
                        to lecture series from distinguished personalities, from highly learning workshops to various
                        fun events, there will be no stone unturned. Along with these, exhibitions, gaming zone and
                        techno cultural nights will be adding charm to the fest.</p>
                </div>
            </div>

            <!--<h3 class="section-content">-->
                <!--TECHNOSEARCH'16 will be adding another milestone in the history of MANIT.-->
                <!--Our technical festival boasts the status of Largest Technical event in Central India, and this-->
                <!--year we'll be showcasing ourselves beyond the expectations of attendees. From extravagant events-->
                <!--to lecture series from distinguished personalities, from highly learning workshops to various-->
                <!--fun events, there will be no stone unturned. Along with these, exhibitions, gaming zone and-->
                <!--techno cultural nights will be adding charm to the fest.-->
            <!--</h3>-->
        </div>
    </div>
    <div id="portfolio-main-filter" class="filter">
        <ul class="filter-list item-filter active-filter clearfix">
            <li class="filter-label"><span class="label">Events</span></li>
            <li><a data-filter="*" class="active">All</a></li>
            <li><a data-filter=".robitics">Robotics</a></li>
            <li><a data-filter=".coding">Coding</a></li>
            <li><a data-filter=".departmental">Departmental</a></li>
            <li><a data-filter=".aerodrome">Aerodrome</a></li>
            <li><a data-filter=".literary">Literary</a></li>
            <li><a data-filter=".strategical">Strategical</a></li>
            <li><a data-filter=".fun">Fun</a></li>
            <li><a data-filter=".photobooth">Photobooth</a></li>
        </ul>
    </div>
    <div id="portfolio-items" class="fullwidth items clearfix grid">

            <div class="item {{event.category}}" ng-repeat="event in vm.items" data-filter="{{event.category}}">
                <a ui-sref="app.event({slug: event.slug})" class="thumb project-thumb" >
                    <div class="inner">
                        <h6>{{event.name | capitalize}}</h6>
                    </div>
                    <img class="lazy" ng-src="https://placeholdit.imgix.net/~text?txtsize=50&txt={{event.name | capitalize}}&w=360&h=360" alt="TechnoSearch Event" >
                </a>
            </div>


    </div>

</section>