<!-- ############################# portfolio ############################# -->
<section id="portfolio" class="section">

    <!-- ############ Paralax Intro ############ -->
    <div id="portfolio-header" class="section-header parallax clearfix" style="background-image: url(placeholders/release-header-1920x1000.jpg)" data-interia="0.1">
        <div class="overlay"></div> <!-- overlay layer -->
        <!-- /container -->
        <div class="container clearfix">
            <h6 class="section-sub-heading">LISTEN MY TRACKS & MIXES</h6>
            <h2 class="section-heading">AMAZING RELEASES</h2>
        </div>
        <!-- /container -->
    </div>
    <!-- /parallax intro -->

    <!-- ############ project container loaded via ajax ############ -->
    <div id="project" class="ajax-holder"></div>
    <!-- /project container -->

    <!-- ############ portfolio filter ############ -->
    <div id="portfolio-main-filter" class="filter">
        <ul class="filter-list item-filter active-filter clearfix">
            <li class="filter-label"><span class="label">Events</span></li>
            <li><a data-categories="*">All</a></li>
            <li><a data-categories="robitics">Robotics</a></li>
            <li><a data-categories="coding">Coding</a></li>
            <li><a data-categories="coding">Departmental</a></li>
            <li><a data-categories="aerodrome">Aerodrome</a></li>
            <li><a data-categories="literary">Literary</a></li>
            <li><a data-categories="strategical">Strategical</a></li>
            <li><a data-categories="fun">Social</a></li>
            <li><a data-categories="more">Fun</a></li>
            <li><a data-categories="more">PhotoBooths</a></li>

        </ul>
    </div>
    <!-- /portfolio filter -->

    <!-- ############ portfolio grid ############ -->
    <div id="portfolio-items" class="fullwidth items clearfix">
        <!-- item -->

        <!--                CODING EVENTS -->
        <div class="item" data-categories="coding">
            <a href="project01.html" class="thumb project-thumb project-by-ajax tip" data-ajax-options='{"target" :"#project"}'>
                <!-- title and opacity mask -->
                <div class="inner">
                    <h6>Awesome Bass <span>(Big image intro)</span></h6>
                </div>
                <!-- /title and opacity mask -->
                <!-- image -->
                <img class="lazy" src="placeholders/placeholder.png" data-src="placeholders/release01-360x360.jpg" alt="Release image" >
                <!-- badge -->
                <span class="badge new">NEW</span>
                <!-- tooltip -->
                <div class="tip-content animate hidden">
                    <span class="tip-title">Awesome Bass</span>
                    <span class="tip-genre">NEW / Glitch Hop</span>
                    <span class="tip-date">2013-04-05</span>
                </div>
                <!-- /tooltip -->
            </a>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="item" data-categories="new drum-and-bass">
            <a href="project02.html" class="thumb project-thumb project-by-ajax tip" data-ajax-options='{"target" :"#project"}'>
                <!-- title and opacity mask -->
                <div class="inner">
                    <h6>Tomorrow's Harvest <span>(Vimeo video)</span></h6>
                </div>
                <!-- /title and opacity mask -->
                <img class="lazy" src="placeholders/placeholder.png" data-src="placeholders/release02-360x360.jpg" alt="Release image" >
                <!-- badge -->
                <span class="badge new">NEW</span>
                <!-- tooltip -->
                <div class="tip-content animate hidden">
                    <span class="tip-title">Tomorrow's Harvest</span>
                    <span class="tip-genre">NEW / Drum and Bass</span>
                    <span class="tip-date">2013-01-23</span>
                </div>
                <!-- /tooltip -->
            </a>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="item" data-categories="drum-and-bass uk-funky">
            <a href="project03.html" class="thumb project-thumb project-by-ajax tip" data-ajax-options='{"target" :"#project"}'>
                <!-- title and opacity mask -->
                <div class="inner">
                    <h6>Atmosphere <span>(Image slider+soundcloud)</span></h6>
                </div>
                <!-- /title and opacity mask -->
                <img class="lazy" src="placeholders/placeholder.png" data-src="placeholders/release03-360x360.jpg" alt="Release image" >
                <!-- tooltip -->
                <div class="tip-content animate hidden">
                    <span class="tip-title">Atmosphere</span>
                    <span class="tip-genre">Drum and Bass / UK Funky</span>
                    <span class="tip-date">2012-12-23</span>
                </div>
                <!-- /tooltip -->
            </a>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="item" data-categories="drum-and-bass glitch">
            <a href="project04.html" class="thumb project-thumb project-by-ajax tip" data-ajax-options='{"target" :"#project"}'>
                <!-- title and opacity mask -->
                <div class="inner">
                    <h6>Center of The Universe <span>(Full width image slider)</span></h6>
                </div>
                <!-- /title and opacity mask -->
                <img class="lazy" src="placeholders/placeholder.png" data-src="placeholders/release04-360x360.jpg" alt="Release image" >
                <!-- tooltip -->
                <div class="tip-content animate hidden">
                    <span class="tip-title">Center of The Universe</span>
                    <span class="tip-genre">Drum and Bass / Glitch Hop</span>
                    <span class="tip-date">2012-10-07</span>
                </div>
                <!-- /tooltip -->
            </a>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="item" data-categories="breakbeat dubstep">
            <a href="project05.html" class="thumb project-thumb project-by-ajax tip" data-ajax-options='{"target" :"#project"}'>
                <!-- title and opacity mask -->
                <div class="inner">
                    <h6>Faster Than Light EP <span>(Masonry boxes)</span></h6>
                </div>
                <!-- /title and opacity mask -->
                <img class="lazy" src="placeholders/placeholder.png" data-src="placeholders/release05-360x360.jpg" alt="Release image" >
                <!-- tooltip -->
                <div class="tip-content animate hidden">
                    <span class="tip-title">Faster Than Light EP</span>
                    <span class="tip-genre">Breakbeat / Dubstep</span>
                    <span class="tip-date">2012-08-07</span>
                </div>
                <!-- /tooltip -->
            </a>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="item" data-categories="breakbeat dubstep">
            <a href="https://soundcloud.com/ukfmusic/ukf-music-podcast-2-physical-in-the-mix" class="thumb project-thumb tip fap-single-track">
                <!-- title and opacity mask -->
                <div class="inner">
                    <h6>Back To The Acid <span>(Play Soundcloud podcast)</span></h6>
                </div>
                <!-- /title and opacity mask -->
                <img class="lazy" src="placeholders/placeholder.png" data-src="placeholders/release06-360x360.jpg" alt="Release image">
                <!-- badge -->
                <span class="badge free">FREE</span>
                <!-- tooltip -->
                <div class="tip-content animate hidden">
                    <span class="tip-title">Back To The Acid</span>
                    <span class="tip-genre">Breakbeat / Dubstep</span>
                    <span class="tip-date">2012-07-22</span>
                </div>
                <!-- /tooltip -->
            </a>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="item" data-categories="uk-funky glitch">
            <a href="https://soundcloud.com/chinch-jack/sets/jungle-sets" class="thumb project-thumb tip fap-single-track">
                <!-- title and opacity mask -->
                <div class="inner">
                    <h6>Skylarking - Remixes <span>(Play Soundcloud playlist)</span></h6>
                </div>
                <!-- /title and opacity mask -->
                <img class="lazy" src="placeholders/placeholder.png" data-src="placeholders/release07-360x360.jpg" alt="Release image" >
                <!-- tooltip -->
                <div class="tip-content animate hidden">
                    <span class="tip-title">Skylarking - Remixes</span>
                    <span class="tip-genre">UK Funky / Glitch Hop</span>
                    <span class="tip-date">2012-07-16</span>
                </div>
                <!-- /tooltip -->
            </a>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="item" data-categories="breakbeat dubstep glitch">
            <a href="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F2999711&amp;color=ff7700&amp;auto_play=false&amp;show_artwork=true" class="thumb project-thumb mediabox tip" data-width="auto" data-height="450">
                <!-- title and opacity mask -->
                <div class="inner">
                    <h6>Defiant Order <span>(Open Soundcloud in lightbox)</span></h6>
                </div>
                <!-- /title and opacity mask -->
                <img class="lazy" src="placeholders/placeholder.png" data-src="placeholders/release08-360x360.jpg" alt="Release image">
                <!-- tooltip -->
                <div class="tip-content animate hidden">
                    <span class="tip-title">Defiant Order</span>
                    <span class="tip-genre">Breakbeat / Glitch Hop / Dubstep</span>
                    <span class="tip-date">2012-05-07</span>
                </div>
                <!-- /tooltip -->
            </a>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="item" data-categories="drum-and-bass uk-funky">
            <a href="placeholders/cover01-big.jpg" class="thumb project-thumb tip imagebox" title="Album Cover">
                <div class="inner">
                    <h6>Things Can Only Get Better <span>(Open image in lightbox)</span></h6>
                </div>
                <img class="lazy" src="placeholders/placeholder.png" data-src="placeholders/release09-360x360.jpg" alt="Release image">
                <!-- badge -->
                <span class="badge free">FREE</span>
                <!-- tooltip -->
                <div class="tip-content animate hidden">
                    <span class="tip-title">Things Can Only Get Better</span>
                    <span class="tip-genre">Drum and Bass / UK Funky</span>
                    <span class="tip-date">2012-04-11</span>
                </div>
                <!-- /tooltip -->
            </a>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="item" data-categories="breakbeat uk-funky">
            <a href="http://player.vimeo.com/video/47224685?byline=0&amp;portrait=0&amp;color=ff9933" class="thumb project-thumb tip mediabox" data-width="auto" data-height="auto">
                <div class="inner">
                    <h6>Numbers / Limelight <span>(Open video in lightbox)</span></h6>
                </div>
                <img class="lazy" src="placeholders/placeholder.png" data-src="placeholders/release10-360x360.jpg" alt="Release image">
                <!-- tooltip -->
                <div class="tip-content animate hidden">
                    <span class="tip-title">Numbers / Limelight</span>
                    <span class="tip-genre">Breakbeat / UK Funky</span>
                    <span class="tip-date">2012-03-11</span>
                </div>
                <!-- /tooltip -->
            </a>
        </div>
        <!-- /item -->
    </div>
    <!-- /portfolio grid -->

</section>
<!-- /portfolio -->