<navbar></navbar>
<!-- ############ section container ############ -->
<div class="section-container container clearfix">

    <!-- ############ content header ############ -->
    <header class="content-header">
        <h1 class="content-title">Get in Touch</h1>
        <span class="sub-heading">Do not hesitate to booking me!</span>
        <hr class="content-line">
    </header>
    <!-- /content header -->

    <div class="row clearfix">
        <p>Cras venenatis justo mi, non posuere enim aliquet malesuada. Nullam orci sem, adipiscing id rutrum et, blandit quis lorem. Phasellus lacus orci, cursus vitae mi eget, sagittis congue elit. Donec ac tincidunt tortor. Duis vel neque eleifend odio hendrerit consequat sed vel massa. Praesent tempor libero quis tincidunt fringilla. Aliquam congue, neque et aliquam eleifend, lacus diam aliquet urna, in sollicitudin neque nisl facilisis urna.</p>
        <br>
        <!-- column icon -->
        <div class="col-1-4 column-icon">
            <span class="icon-home icon"></span>
            <span class="txt"><strong>Level 13, 2 Elizabeth St, Melbourne Victoria </strong><br>3000 Australia</span>
        </div>
        <!-- /column icon -->
        <!-- column icon -->
        <div class="col-1-4 column-icon">
            <span class="icon-phone icon"></span>
            <span class="txt"><strong>(123) 563-9899-234</strong><br>(123) 123-9899-234 (FAX)</span>
        </div>
        <!-- /column icon -->
        <!-- column icon -->
        <div class="col-1-4 column-icon">
            <span class="icon-pencil-2 icon"></span>
            <span class="txt"><strong><a href="mailto:djspectra@djspectra.com">djspectra@djspectra.com</a></strong><br><a href="mailto:booking@djspectra.com">booking@djspectra.com</a> </span>
        </div>
        <!-- /column icon -->
        <!-- column icon -->
        <div class="col-1-4 last column-icon">
            <span class="icon-share icon"></span>
            <span class="txt"><strong><a href="http://facebook.com/">facebook</a></strong><br><a href="http://twitter.com/">twitter</a><br><a href="http://soundcloud.com/">soundcloud</a></span>
        </div>
        <!-- /column icon -->
    </div>
</div>

<contact></contact>
<footer></footer>