
<navbar></navbar>
<!-- ############ section container ############ -->
<div class="section-container container clearfix">

    <!-- ############ content header ############ -->
    <header class="content-header">
        <h1 class="content-title">Get in Touch</h1>
        <!--<span class="sub-heading">Do not hesitate to booking me!</span>-->
        <hr class="content-line">
    </header>
    <!-- /content header -->

    <div class="row clearfix">
        <br>
        <!-- column icon -->
        <div class="col-1-3 column-icon">
            <span class="icon-home icon"></span>
            <span class="txt"><strong>Maulana Azad National Institute of Technology </strong><br>Bhopal, India</span>
        </div>
        <!-- /column icon -->
        <!-- column icon -->
        <div class="col-1-3 column-icon">
            <span class="icon-phone icon"></span>
            <span class="txt"><strong>(0755) 405-1784</strong><br>(+91) 7692-932-545</span>
        </div>
        <!-- /column icon -->
        <!-- column icon -->
        <div class="col-1-3 last column-icon">
            <span class="icon-pencil-2 icon"></span>
            <span class="txt"><strong><a href="mailto:contact@technosearch.in">contact@technosearch.in</a></strong><br><a href="mailto:manit.studentcouncil@gmail.com">manit.studentcouncil@gmail.com</a> </span>
        </div>
        <!-- /column icon -->
    </div>
</div>

<contact></contact>
<footer></footer>