<welcome></welcome>
<navbar></navbar>
<countdown></countdown>
<events></events>
<event-list></event-list>
<div id="contact-map" class="gmap clearfix" map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaFKpve25K3b2X_ge_J1s0kGKM6YOoU1Y" map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaFKpve25K3b2X_ge_J1s0kGKM6YOoU1Y">
    <div style="width: 100%;height: 100%;position: absolute;z-index: 1;"></div>
    <ng-map center="[23.215177, 77.409950]" zoom="14" style="height:500px">
        <marker position="[23.215177, 77.409950]" title="MANIT"></marker>
    </ng-map>
</div>
<contact></contact>
<social></social>
<sponsors></sponsors>
<footer></footer>