
<!-- ############################# contact ############################# -->
<section id="contact">


    <!-- ############ section container ############ -->
    <div class="container clearfix">

        <hr class="divider">
        <div class="row clearfix">
            <h2 class="heading-m text-center">Send us a message</h2>
            <span class="sub-heading text-center">Please fill in your contact details</span>
        </div>

        <!-- contact form -->
        <form name="vm.contactForm" class="form contact-form" ng-submit="vm.submit()">
            <div class="row clearfix">
                <div class="col-1-3">
                    <label for="contact-name"><strong>Name</strong> (required)</label>
                    <input type="text" name="name" id="contact-name" required ng-model="vm.name">
                </div>
                <div class="col-1-3">
                    <label for="contact-email"><strong>Email</strong> (required)</label>
                    <input type="email" name="email" id="contact-email" required ng-model="vm.email">
                </div>
                <div class="col-1-3 last">
                    <label for="contact-contact"><strong>Contact</strong> (required)</label>
                    <input type="tel" name="contact" id="contact-contact" ng-model="vm.contact">
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-1-1">
                    <label for="contact-message"><strong>Your Message</strong> (required)</label>
                    <textarea name="message" id="contact-message" cols="88" rows="6" required ng-model="vm.message"></textarea>
                </div>
            </div>
            <div class="row clearfix">
                <div vc-recaptcha key="vm.captchakey" on-create="setWidgetId(widgetId)"></div>
            </div>
            <div class="row clearfix">
                <input type="submit" value="Submit Message" class="large" ng-disabled="vm.contactForm.$invalid">
            </div>
            <div class="row clearfix" ng-show="vm.success">
                <div style="color: #ffffff;font-size: 18px;padding: 10px 0px;">
                    Form submitted successfully!
                </div>
            </div>

            <div class="clear"></div>
        </form>
        <!-- /contact form -->

    </div>
    <!-- /section container -->

</section>
<!-- /contact -->