
@media only screen and (max-width: 480px) {
  .content-header {
    text-transform: uppercase;
  }
  .countdown .days:after, .countdown .hours:after, .countdown .minutes:after, .countdown .seconds:after {
    font-size: 15px;
    padding-top: 10px;
  }
  .countdown .days, .countdown .hours, .countdown .minutes, .countdown .seconds {
    font-size: 35px;
  }
  .countdown:before {
    content: none;
    background: none;
  }
  .countdown .days:before, .countdown .hours:before, .countdown .minutes:before, .countdown .seconds:before {
    content: none;
    background: none;
  }
}

@media only screen and (max-width: 480px) {
.countdown .days, .countdown .hours, .countdown .minutes, .countdown .seconds {
    padding: 6px !important;
}
}
