<!-- ############################# upcoming event ############################# -->
<section id="upcoming-event" class="event-countdown">
    <!-- container -->
    <div class="container clearfix">
        <!-- ############ content header ############ -->
        <header class="content-header">
            <h6 class="upcoming-event">Coming soon</h6>
            <h2 class="content-title">Technosearch,Manit</h2>
            <span class="sub-heading">Bhopal,India</span>
        </header>
        <!-- /content header -->
        <!-- countdown -->
        <div class="countdown" data-event-date="2016/10/21 20:20:00">
            <div class="days" data-label="Days">..</div>
            <div class="hours" data-label="Hours">..</div>
            <div class="minutes" data-label="Minutes">..</div>
            <div class="seconds" data-label="Seconds">..</div>
        </div>
        <!-- /countdown -->
    </div>
    <!-- /container -->
</section>
<!-- /upcoming event -->

