<!-- ############################# upcoming event ############################# -->
<section id="upcoming-event" class="event-countdown">
    <!-- container -->
    <div class="container clearfix">
        <!-- ############ content header ############ -->
        <header class="content-header">
            <h6 class="upcoming-event">Coming soon</h6>
            <h2 class="content-title">Technosearch,Manit</h2>
            <span class="sub-heading">Bhopal,India</span>
        </header>
        <!-- /content header -->
        <!-- countdown -->
        <div class="countdown" >
            <timer countdown="vm.countTime" interval="1000">
                <div class="days" data-label="Days">{{ddays}}</div>
                <div class="hours" data-label="Hours">{{hhours}}</div>
                <div class="minutes" data-label="Minutes">{{mminutes}}</div>
                <div class="seconds" data-label="Seconds">{{sseconds}}</div>
            </timer>
        </div>
        <!-- /countdown -->
    </div>
    <!-- /container -->
</section>
<!-- /upcoming event -->

