<section id="portfolio" class="section">
    <div id="portfolio-header" class="section-header parallax clearfix" style="background-image: url(placeholders/release-header-1920x1000.jpg)" data-interia="0.1">
        <div class="overlay"></div>
        <div class="container clearfix">
            <h6 class="section-sub-heading">WORKSHOPS</h6>
        </div>
    </div>

    <div id="portfolio-items" class="fullwidth items clearfix grid">

        <div class="item" >
            <a href="/img/workshops/android-app-development.pdf" target="_self"  download="android-app-development.pdf" class="thumb project-thumb" >
                <div class="inner">
                    <h6>ANDROID APP DEVELOPMENT</h6>
                </div>
                <img class="lazy" ng-src="img/workshops/android-app-development.jpg" alt="ANDROID APP DEVELOPMENT" >
            </a>
        </div>
        <div class="item" >
            <a href="javascript:void(0)" class="thumb project-thumb" >
                <div class="inner">
                    <h6>MORPHOGENESIS</h6>
                </div>
                <img class="lazy" ng-src="img/workshops/morphogenesis.jpg" alt="morphogenesis" >
            </a>
        </div>
        <div class="item" >
            <a href="/img/workshops/multibotics.pdf" target="_self"  download="multibotics.pdf" class="thumb project-thumb" >
                <div class="inner">
                    <h6>MULTIBOTICS</h6>
                </div>
                <img class="lazy" ng-src="img/workshops/multibotics.jpg" alt="multibotics" >
            </a>
        </div>
        <div class="item" >
            <a href="javascript:void(0)" class="thumb project-thumb" >
                <div class="inner">
                    <h6>WATERBOTIX</h6>
                </div>
                <img class="lazy" ng-src="img/workshops/waterbotix.jpg" alt="waterbotix" >
            </a>
        </div>

    </div>

</section>