<section id="gallery">

    <div id="ajax-content" class="page-container">

        <div class="container clearfix">

            <header class="content-header">
                <h1 class="content-title">Gallery</h1>
                <span class="sub-heading">Previous Techno Pictures</span>
                <hr class="content-line">
            </header>

            <div class="row clearfix">

                <div class="masonry clearfix">
                    <div class="brick width-1-4 height-1-4" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27]" style="background-image: url(img/gallery/thumb_{{i}}.jpg);background-size: cover;">
                        <a style="height: 100%;width: 100%;" href="img/gallery/{{i}}.jpg" class="thumb imagebox" title="Technosearch gallery" >

                            <div class="inner">
                            </div>
                        </a>
                    </div>


                </div>
                <!-- /masonry -->
            </div>
            <!-- /row -->

            <div class="clear"></div>


        </div>
        <!-- /container -->
    </div>
    <!-- /ajax contant -->
</section>
<!-- /404 section -->