<!-- ############################# gallery section ############################# -->
<section id="gallery">

    <!-- ############ ajax content (This content will be loaded by ajax) ############ -->
    <div id="ajax-content" class="page-container">

        <!-- ############ container ############ -->
        <div class="container clearfix">

            <!-- ############ content header ############ -->
            <header class="content-header">
                <h1 class="content-title">Gallery</h1>
                <span class="sub-heading">Previous Techno Pictures</span>
                <hr class="content-line">
            </header>
            <!-- /content header -->

            <!-- row -->
            <div class="row clearfix">

                <!-- ############ masonry ############ -->
                <div class="masonry clearfix">
                    <!-- brick -->
                    <div class="brick width-1-2 height-1-2">
                        <a href="placeholders/gallery-01-544x544.jpg" class="thumb imagebox" data-group="amsterdam-2013-10-12" title="Gallery image title">
                            <!-- title and opacity mask -->
                            <div class="inner">
                                <h6>Amsterdam Festival <span>23 Photos</span></h6>
                            </div>
                            <!-- image -->
                            <img src="placeholders/gallery-01-544x544.jpg" alt="Gallery image title">
                            <!-- badge -->
                            <span class="badge new">NEW</span>
                        </a>
                        <!-- Gallery photos -->
                        <a href="placeholders/gallery-01-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="amsterdam-2013-10-12"></a>
                        <a href="placeholders/gallery-02-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="amsterdam-2013-10-12"></a>
                        <a href="placeholders/gallery-03-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="amsterdam-2013-10-12"></a>
                        <a href="placeholders/gallery-01-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="amsterdam-2013-10-12"></a>
                        <a href="placeholders/gallery-02-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="amsterdam-2013-10-12"></a>
                        <a href="placeholders/gallery-03-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="amsterdam-2013-10-12"></a>
                        <a href="placeholders/gallery-04-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="amsterdam-2013-10-12"></a>
                    </div>
                    <!-- /brick -->
                    <!-- brick -->
                    <div class="brick width-1-2 height-1-2">
                        <a href="placeholders/gallery-02-544x544.jpg" class="thumb imagebox" data-group="bacardi-2013-10-12" title="Gallery image title">
                            <!-- title and opacity mask -->
                            <div class="inner">
                                <h6>Bacardi Original Bar <span>12 Photos</span></h6>
                            </div>
                            <!-- image -->
                            <img src="placeholders/gallery-02-544x544.jpg" alt="Gallery image title">
                            <!-- badge -->
                            <span class="badge new">NEW</span>
                        </a>
                        <!-- Gallery photos -->
                        <a href="placeholders/gallery-02-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="bacardi-2013-10-12"></a>
                        <a href="placeholders/gallery-01-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="bacardi-2013-10-12"></a>
                        <a href="placeholders/gallery-02-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="bacardi-2013-10-12"></a>
                        <a href="placeholders/gallery-03-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="bacardi-2013-10-12"></a>
                        <a href="placeholders/gallery-04-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="bacardi-2013-10-12"></a>
                        <a href="placeholders/gallery-03-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="bacardi-2013-10-12"></a>
                        <a href="placeholders/gallery-01-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="bacardi-2013-10-12"></a>
                    </div>
                    <!-- /brick -->
                    <!-- brick -->
                    <div class="brick width-1-2 height-1-2">
                        <a href="placeholders/gallery-03-544x544.jpg" class="thumb imagebox" data-group="sepang-2013-10-12" title="Gallery image title">
                            <!-- title and opacity mask -->
                            <div class="inner">
                                <h6>Sepang International Circuit <span>08 Photos</span></h6>
                            </div>
                            <!-- image -->
                            <img src="placeholders/gallery-03-544x544.jpg" alt="Gallery image title">
                            <!-- badge -->
                            <span class="badge new">NEW</span>
                        </a>
                        <!-- Gallery photos -->
                        <a href="placeholders/gallery-01-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="sepang-2013-10-12"></a>
                        <a href="placeholders/gallery-02-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="sepang-2013-10-12"></a>
                        <a href="placeholders/gallery-03-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="sepang-2013-10-12"></a>
                        <a href="placeholders/gallery-01-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="sepang-2013-10-12"></a>
                        <a href="placeholders/gallery-02-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="sepang-2013-10-12"></a>
                        <a href="placeholders/gallery-03-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="sepang-2013-10-12"></a>
                        <a href="placeholders/gallery-04-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="sepang-2013-10-12"></a>
                    </div>
                    <!-- /brick -->
                    <!-- brick -->
                    <div class="brick width-1-4 height-1-4">
                        <a href="placeholders/gallery-01-272x272.jpg" class="thumb imagebox" data-group="gal01" title="Gallery image title">
                            <!-- title and opacity mask -->
                            <div class="inner">
                                <h6>Gallery Title <span>08 Photos</span></h6>
                            </div>
                            <!-- image -->
                            <img src="placeholders/gallery-01-272x272.jpg" alt="Gallery image title">
                        </a>
                        <!-- Gallery photos -->
                        <a href="placeholders/gallery-02-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal01"></a>
                        <a href="placeholders/gallery-01-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal01"></a>
                        <a href="placeholders/gallery-02-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal01"></a>
                        <a href="placeholders/gallery-03-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal01"></a>
                        <a href="placeholders/gallery-01-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal01"></a>
                        <a href="placeholders/gallery-03-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal01"></a>
                        <a href="placeholders/gallery-04-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal01"></a>
                    </div>
                    <!-- /brick -->
                    <!-- brick -->
                    <div class="brick width-1-4 height-1-4">
                        <a href="placeholders/gallery-02-272x272.jpg" class="thumb imagebox" data-group="gal02" title="Gallery image title">
                            <!-- title and opacity mask -->
                            <div class="inner">
                                <h6>Gallery Title <span>08 Photos</span></h6>
                            </div>
                            <!-- image -->
                            <img src="placeholders/gallery-02-272x272.jpg" alt="Gallery image title">
                        </a>
                        <!-- Gallery photos -->
                        <a href="placeholders/gallery-02-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal02"></a>
                        <a href="placeholders/gallery-01-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal02"></a>
                        <a href="placeholders/gallery-02-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal02"></a>
                        <a href="placeholders/gallery-03-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal02"></a>
                        <a href="placeholders/gallery-01-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal02"></a>
                        <a href="placeholders/gallery-03-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal02"></a>
                        <a href="placeholders/gallery-04-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal02"></a>
                    </div>
                    <!-- /brick -->
                    <!-- brick -->
                    <div class="brick width-1-4 height-1-4">
                        <a href="placeholders/gallery-03-272x272.jpg" class="thumb imagebox" data-group="gal03" title="Gallery image title">
                            <!-- title and opacity mask -->
                            <div class="inner">
                                <h6>Gallery Title <span>08 Photos</span></h6>
                            </div>
                            <!-- image -->
                            <img src="placeholders/gallery-03-272x272.jpg" alt="Gallery image title">
                        </a>
                        <!-- Gallery photos -->
                        <a href="placeholders/gallery-02-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal03"></a>
                        <a href="placeholders/gallery-01-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal03"></a>
                        <a href="placeholders/gallery-02-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal03"></a>
                        <a href="placeholders/gallery-03-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal03"></a>
                        <a href="placeholders/gallery-01-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal03"></a>
                        <a href="placeholders/gallery-03-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal03"></a>
                        <a href="placeholders/gallery-04-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal03"></a>
                    </div>
                    <!-- /brick -->
                    <!-- brick -->
                    <div class="brick width-1-4 height-1-4">
                        <a href="placeholders/gallery-04-272x272.jpg" class="thumb imagebox" data-group="gal04" title="Gallery image title">
                            <!-- title and opacity mask -->
                            <div class="inner">
                                <h6>Gallery Title <span>08 Photos</span></h6>
                            </div>
                            <!-- image -->
                            <img src="placeholders/gallery-04-272x272.jpg" alt="Gallery image title">
                        </a>
                        <!-- Gallery photos -->
                        <a href="placeholders/gallery-02-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal04"></a>
                        <a href="placeholders/gallery-01-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal04"></a>
                        <a href="placeholders/gallery-02-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal04"></a>
                        <a href="placeholders/gallery-03-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal04"></a>
                        <a href="placeholders/gallery-01-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal04"></a>
                        <a href="placeholders/gallery-03-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal04"></a>
                        <a href="placeholders/gallery-04-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal04"></a>
                    </div>
                    <!-- /brick -->
                    <!-- brick -->
                    <div class="brick width-1-4 height-1-4">
                        <a href="placeholders/gallery-03-272x272.jpg" class="thumb imagebox" data-group="gal05" title="Gallery image title">
                            <!-- title and opacity mask -->
                            <div class="inner">
                                <h6>Gallery Title <span>08 Photos</span></h6>
                            </div>
                            <!-- image -->
                            <img src="placeholders/gallery-03-272x272.jpg" alt="Gallery image title">
                        </a>
                        <!-- Gallery photos -->
                        <a href="placeholders/gallery-02-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal05"></a>
                        <a href="placeholders/gallery-01-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal05"></a>
                        <a href="placeholders/gallery-02-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal05"></a>
                        <a href="placeholders/gallery-03-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal05"></a>
                        <a href="placeholders/gallery-01-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal05"></a>
                        <a href="placeholders/gallery-03-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal05"></a>
                        <a href="placeholders/gallery-04-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal05"></a>
                    </div>
                    <!-- /brick -->
                    <!-- brick -->
                    <div class="brick width-1-4 height-1-4">
                        <a href="placeholders/gallery-04-272x272.jpg" class="thumb imagebox" data-group="gal06" title="Gallery image title">
                            <!-- title and opacity mask -->
                            <div class="inner">
                                <h6>Gallery Title <span>08 Photos</span></h6>
                            </div>
                            <!-- image -->
                            <img src="placeholders/gallery-04-272x272.jpg" alt="Gallery image title">
                        </a>
                        <!-- Gallery photos -->
                        <a href="placeholders/gallery-02-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal06"></a>
                        <a href="placeholders/gallery-01-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal06"></a>
                        <a href="placeholders/gallery-02-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal06"></a>
                        <a href="placeholders/gallery-03-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal06"></a>
                        <a href="placeholders/gallery-01-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal06"></a>
                        <a href="placeholders/gallery-03-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal06"></a>
                        <a href="placeholders/gallery-04-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal06"></a>
                    </div>
                    <!-- /brick -->
                    <!-- brick -->
                    <div class="brick width-1-4 height-1-4">
                        <a href="placeholders/gallery-01-272x272.jpg" class="thumb imagebox" data-group="gal07" title="Gallery image title">
                            <!-- title and opacity mask -->
                            <div class="inner">
                                <h6>Gallery Title <span>08 Photos</span></h6>
                            </div>
                            <!-- image -->
                            <img src="placeholders/gallery-01-272x272.jpg" alt="Gallery image title">
                        </a>
                        <!-- Gallery photos -->
                        <a href="placeholders/gallery-02-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal07"></a>
                        <a href="placeholders/gallery-01-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal07"></a>
                        <a href="placeholders/gallery-02-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal07"></a>
                        <a href="placeholders/gallery-03-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal07"></a>
                        <a href="placeholders/gallery-01-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal07"></a>
                        <a href="placeholders/gallery-03-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal07"></a>
                        <a href="placeholders/gallery-04-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal07"></a>
                    </div>
                    <!-- /brick -->
                    <!-- brick -->
                    <div class="brick width-1-4 height-1-4">
                        <a href="placeholders/gallery-02-272x272.jpg" class="thumb imagebox" data-group="gal08" title="Gallery image title">
                            <!-- title and opacity mask -->
                            <div class="inner">
                                <h6>Gallery Title <span>08 Photos</span></h6>
                            </div>
                            <!-- image -->
                            <img src="placeholders/gallery-02-272x272.jpg" alt="Gallery image title">
                        </a>
                        <!-- Gallery photos -->
                        <a href="placeholders/gallery-02-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal08"></a>
                        <a href="placeholders/gallery-01-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal08"></a>
                        <a href="placeholders/gallery-02-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal08"></a>
                        <a href="placeholders/gallery-03-544x544.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal08"></a>
                        <a href="placeholders/gallery-01-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal08"></a>
                        <a href="placeholders/gallery-03-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal08"></a>
                        <a href="placeholders/gallery-04-272x272.jpg" class="hidden imagebox" title="Gallery image title" data-group="gal08"></a>
                    </div>
                    <!-- /brick -->
                </div>
                <!-- /masonry -->
            </div>
            <!-- /row -->

            <div class="clear"></div>


        </div>
        <!-- /container -->
    </div>
    <!-- /ajax contant -->
</section>
<!-- /404 section -->