<!-- ############################# navigation section ############################# -->

<section id="main-nav-wrapper">
    <!-- main navigation -->
    <div id="main-nav">

        <!-- ############ search ############ -->
        <!--<div id="search-wrap" style="display:none">-->
            <!--<input type="text" placeholder="Search and hit enter..." name="s" id="search" />-->
        <!--</div>-->
        <!-- /search -->

        <!-- navigation container -->
        <div class="nav-container">

            <!-- ############ logo ############ -->
            <a ui-sref="app.home" id="logo" class="smooth-scroll">
                <img src="placeholders/logo.png" alt="Logo">
            </a>
            <!-- /logo -->

            <!-- ############ icon navigation ############ -->
            <nav id="icon-nav">
                <ul>
                    <!-- todo show the up arrow button only on the home page -->
                    <li><a href="#" scroll-to="top" id="nav-up" class="smooth-scroll"><span class="icon-arrow-up-2"></span></a></li>
                    <!--<li><a ui-sref="app.search" id="nav-search"><span class="icon-search"></span></a></li>-->
                </ul>
            </nav>
            <!-- /icon navigation -->

            <!-- ############ navigation ############ -->
            <nav id="nav" class="one-page-nav">
                <ul>
                    <li>
                        <a ui-sref="app.events">Events</a>
                        <ul>
                            <li>
                                <a ui-sref="app.competitions">Competitions</a>
                            </li>
                            <li>
                                <a ui-sref="app.workshops">Workshops</a>
                            </li>
                            <li>
                                <a ui-sref="app.guestlectures">Guest Lectures</a>
                            </li>
                            <li>
                                <a ui-sref="app.pronites">Pro-Nites</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a ui-sref="app.account">Account</a>
                    </li>
                    <li>
                        <a ui-sref="app.gallery">Gallery</a>
                    </li>
                    <li>
                        <a ui-sref="app.team">Team</a>
                    </li>
                    <li>
                        <a ui-sref="app.sponsors">Sponsors</a>
                    </li>
                    <li>
                        <a ui-sref="app.contact">Contact</a>
                    </li>
                </ul>
            </nav>
            <!-- /navigation -->

            <!-- responsive navigation -->
            <div id="dl-menu" class="dl-menuwrapper one-page-nav">
                <button class="dl-trigger">Open Menu</button>
                <ul class="dl-menu" style="max-height: 438px;">
                    <li>
                        <a href="#">Features</a>
                        <ul class="dl-submenu" style="max-height: 438px;"><li class="dl-back"><a href="#">back</a></li>
                            <li>
                                <a href="grid.html" class="page-by-ajax" data-ajax-options="{&quot;target&quot; :&quot;#custom-page&quot;}">Grid</a>
                            </li>
                            <li>
                                <a href="masonry.html" class="page-by-ajax" data-ajax-options="{&quot;target&quot; :&quot;#custom-page&quot;}">Masonry Boxes</a>
                            </li>
                            <li>
                                <a href="gallery.html" class="page-by-ajax" data-ajax-options="{&quot;target&quot; :&quot;#custom-page&quot;}">Gallery</a>
                            </li>
                            <li>
                                <a href="elements.html" class="page-by-ajax" data-ajax-options="{&quot;target&quot; :&quot;#custom-page&quot;}">Elements</a>
                            </li>
                            <li>
                                <a href="videos.html" class="page-by-ajax" data-ajax-options="{&quot;target&quot; :&quot;#custom-page&quot;}">Videos</a>
                            </li>
                            <li>
                                <a href="#newsletter">Newsletter</a>
                            </li>
                            <li>
                                <a href="#">Sub Menu</a>
                                <ul class="dl-submenu" style="max-height: 438px;"><li class="dl-back"><a href="#">back</a></li>
                                    <li>
                                        <a href="#">Level 2.1</a>
                                    </li>
                                    <li>
                                        <a href="#">Level 2.2</a>
                                    </li>
                                    <li>
                                        <a href="#">Level 2.3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="current">
                        <a href="#portfolio">Releases</a>
                    </li>
                    <li class="">
                        <a href="#events">Events</a>
                    </li>
                    <li>
                        <a href="#bio">Bio</a>
                    </li>
                    <li class="">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /responsive navigation -->
        </div>
        <!-- /navigation container -->
    </div>
    <!-- /main navigation -->
</section>
<!-- /navigation section -->