<!-- ############################# navigation section ############################# -->
<section id="main-nav-wrapper">
    <!-- main navigation -->
    <div id="main-nav">

        <!-- ############ search ############ -->
        <div id="search-wrap" style="display:none">
            <input type="text" placeholder="Search and hit enter..." name="s" id="search" />
        </div>
        <!-- /search -->

        <!-- navigation container -->
        <div class="nav-container">

            <!-- ############ logo ############ -->
            <a href="#intro" id="logo" class="smooth-scroll">
                <img src="placeholders/logo.png" alt="Logo">
            </a>
            <!-- /logo -->

            <!-- ############ icon navigation ############ -->
            <nav id="icon-nav">
                <ul>
                    <li><a href="#intro" id="nav-up" class="smooth-scroll"><span class="icon-arrow-up-2"></span></a></li>
                    <li><a href="#" id="nav-search"><span class="icon-search"></span></a></li>
                </ul>
            </nav>
            <!-- /icon navigation -->

            <!-- ############ navigation ############ -->
            <nav id="nav" class="one-page-nav">
                <ul>
                    <li>
                        <a ui-sref="app.events">Events</a>
                        <ul>
                            <li>
                                <a href="grid.html" class="page-by-ajax" data-ajax-options='{"target" :"#custom-page"}'>Competitions</a>
                            </li>
                            <li>
                                <a href="masonry.html" class="page-by-ajax" data-ajax-options='{"target" :"#custom-page"}'>Workshops</a>
                            </li>
                            <li>
                                <a href="gallery.html" class="page-by-ajax" data-ajax-options='{"target" :"#custom-page"}'>Guest Lectures</a>
                            </li>
                            <li>
                                <a href="elements.html" class="page-by-ajax" data-ajax-options='{"target" :"#custom-page"}'>Pro-Nites</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#portfolio">Account</a>
                    </li>
                    <li>
                        <a href="#gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="#bio">Team</a>
                    </li>
                    <li>
                        <a href="#bio">Sponsors</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
            <!-- /navigation -->

            <!-- responsive navigation -->
            <div id="dl-menu" class="dl-menuwrapper one-page-nav">
                <button class="dl-trigger">Open Menu</button>
                <!-- RESPONSIVE NAVIGATION HERE -->
            </div>
            <!-- /responsive navigation -->
        </div>
        <!-- /navigation container -->
    </div>
    <!-- /main navigation -->
</section>
<!-- /navigation section -->