#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.hide {
  display: none;
}
#main-nav li.active {
  > ul {
    display: block;
  }
}
#logo img {
  height: 50px;
}
#dl-menu {
  z-index: 2;
}