

<div ng-if="vm.slug == 'android-app-development'" class="container clearfix at-section">

    <div id="event-single" class="row clearfix">
        <!-- column -->

        <!-- /column -->
        <!-- column -->
        <div class="col-1-2 ">
            <!--<h2>Promotion</h2>-->
            <!-- image poster -->
            <img ng-src="/img/workshops/android-app-development.jpg" alt="android-app-development" class="event-item">
        </div>
        <div class="col-1-2 last">
            <h1>Android App Development</h1>
            <p>Description </p>
            <a ng-if="true" class="btn large alignleft" href="/img/workshops/android-app-development.pdf" target="_self"  download="android-app-development.pdf">Download Problem Statement</a>
        </div>
        <!-- /column -->
    </div>
    <div class="row clearfix coordinator">
        <div class="col-1-3">
            <h3>Coordinator</h3>
            <h5>{{vm.item.name1 | capitalize}}</h5>
            <p>{{vm.item.email1 | lowercase}} </p>
            <p>{{vm.item.contact1}} </p>
        </div>
        <div class="col-1-3">
            <h3>Coordinator</h3>
            <h5>{{vm.item.name2 | capitalize}}</h5>
            <p>{{vm.item.email2 | lowercase}} </p>
            <p>{{vm.item.contact2}} </p>
        </div>
        <div class="col-1-3 last">
            <h3>Fees</h3>
            <h5>For MANIT Students: Rs.500</h5>
            <h5>For Non-MANIT Students: Rs.500</h5>
        </div>
    </div>
    <!-- /row -->
</div>

<div ng-if="vm.slug == 'morphogenesis'" class="container clearfix at-section">

    <div id="event-single" class="row clearfix">
        <!-- column -->

        <!-- /column -->
        <!-- column -->
        <div class="col-1-2 ">
            <!--<h2>Promotion</h2>-->
            <!-- image poster -->
            <img ng-src="/img/workshops/morphogenesis.jpg" alt="morphogenesis" class="event-item">
        </div>
        <div class="col-1-2 last">
            <h1>MorphoGenesis</h1>
            <p>Description </p>
            <a ng-if="false" class="btn large alignleft" href="/workshops/android-app-development.pdf" target="_self"  download="android-app-development.pdf">Download Problem Statement</a>
        </div>
        <!-- /column -->
    </div>
    <div class="row clearfix coordinator">
        <div class="col-1-3">
            <h3>Coordinator</h3>
            <h5>{{vm.item.name1 | capitalize}}</h5>
            <p>{{vm.item.email1 | lowercase}} </p>
            <p>{{vm.item.contact1}} </p>
        </div>
        <div class="col-1-3">
            <h3>Coordinator</h3>
            <h5>{{vm.item.name2 | capitalize}}</h5>
            <p>{{vm.item.email2 | lowercase}} </p>
            <p>{{vm.item.contact2}} </p>
        </div>
        <div class="col-1-3 last">
            <h3>Fees</h3>
            <h5>For MANIT Students: Rs.500</h5>
            <h5>For Non-MANIT Students: Rs.500</h5>
        </div>
    </div>
    <!-- /row -->
</div>

<div ng-if="vm.slug == 'multibotics'" class="container clearfix at-section">

    <div id="event-single" class="row clearfix">
        <!-- column -->

        <!-- /column -->
        <!-- column -->
        <div class="col-1-2 ">
            <!--<h2>Promotion</h2>-->
            <!-- image poster -->
            <img ng-src="/img/workshops/multibotics.jpg" alt="multibotics" class="event-item">
        </div>
        <div class="col-1-2 last">
            <h1>MultiBotics</h1>
            <p>Description </p>
            <a ng-if="true" class="btn large alignleft" href="/workshops/multibotics.pdf" target="_self"  download="multibotics.pdf">Download Problem Statement</a>
        </div>
        <!-- /column -->
    </div>
    <div class="row clearfix coordinator">
        <div class="col-1-3">
            <h3>Coordinator</h3>
            <h5>{{vm.item.name1 | capitalize}}</h5>
            <p>{{vm.item.email1 | lowercase}} </p>
            <p>{{vm.item.contact1}} </p>
        </div>
        <div class="col-1-3">
            <h3>Coordinator</h3>
            <h5>{{vm.item.name2 | capitalize}}</h5>
            <p>{{vm.item.email2 | lowercase}} </p>
            <p>{{vm.item.contact2}} </p>
        </div>
        <div class="col-1-3 last">
            <h3>Fees</h3>
            <h5>For MANIT Students: Rs.500</h5>
            <h5>For Non-MANIT Students: Rs.500</h5>
        </div>
    </div>
    <!-- /row -->
</div>

<div ng-if="vm.slug == 'waterbotix'" class="container clearfix at-section">

    <div id="event-single" class="row clearfix">
        <!-- column -->

        <!-- /column -->
        <!-- column -->
        <div class="col-1-2 ">
            <!--<h2>Promotion</h2>-->
            <!-- image poster -->
            <img ng-src="/img/workshops/waterbotix.jpg" alt="waterbotix" class="event-item">
        </div>
        <div class="col-1-2 last">
            <h1>WaterBotix</h1>
            <p>Description </p>
            <a ng-if="false" class="btn large alignleft" href="/workshops/android-app-development.pdf" target="_self"  download="android-app-development.pdf">Download Problem Statement</a>
        </div>
        <!-- /column -->
    </div>
    <div class="row clearfix coordinator">
        <div class="col-1-3">
            <h3>Coordinator</h3>
            <h5>{{vm.item.name1 | capitalize}}</h5>
            <p>{{vm.item.email1 | lowercase}} </p>
            <p>{{vm.item.contact1}} </p>
        </div>
        <div class="col-1-3">
            <h3>Coordinator</h3>
            <h5>{{vm.item.name2 | capitalize}}</h5>
            <p>{{vm.item.email2 | lowercase}} </p>
            <p>{{vm.item.contact2}} </p>
        </div>
        <div class="col-1-3 last">
            <h3>Fees</h3>
            <h5>For MANIT Students: Rs.500</h5>
            <h5>For Non-MANIT Students: Rs.500</h5>
        </div>
    </div>
    <!-- /row -->
</div>