
<div class="container clearfix">

    <!-- row -->
    <div id="event-single" class="row clearfix">
        <!-- column -->
        <div class="col-1-2">
            <h2>{{vm.item.name}}</h2>
            <p>{{vm.item.description}} </p>
            <a ng-if="vm.item.problem_statement" class="btn large alignleft"><span class="button-icon icon-cart-3"></span>Download Problem Statement</a>
        </div>
        <!-- /column -->
        <!-- column -->
        <div class="col-1-2 last">
            <!--<h2>Promotion</h2>-->
            <!-- image poster -->
            <img src="img/events/{{vm.item.slug}}.jpg" alt="TechnoSearch">
        </div>
        <!-- /column -->
    </div>
    <!-- /row -->
</div>